gomgun.site {
    root * /srv
    file_server
    encode gzip
    try_files {path} {path}/ /404/index.html

    @static path /styles/* /static/*
    header @static Cache-Control "public, max-age=604800"
}
